@inherits LayoutComponentBase

<div class="page">

    <header>
        <button onclick="sidebarToggle()">[.]</button>
        &nbsp;
        &nbsp;
        Header...
    </header>

    <aside>
        Sidebar...
        <a href="/">Home</a>
        <a href="/area1/teste">Área1 - Teste</a>
        <a href="/area2/teste">Área2 - Teste</a>
    </aside>

    <main>
        @Body
    </main>

</div>


<script>
    const desktopMinWidth = 960;
    const sidebarMobileOpenedClass = 'sidebar-mobile-opened';
    const sidebarDesktopClosedClass = 'sidebar-desktop-closed';

    function pageElementToggleClass(className, activate) {
        let pageElement = document.getElementsByClassName('page')[0];

        activate ??= !pageElement.classList.contains(className);
        pageElement.classList.toggle(className, activate);
    }

    function sidebarToggle(open, className) {
        if (window.innerWidth > desktopMinWidth) {
            pageElementToggleClass(sidebarDesktopClosedClass);
        } else {
            pageElementToggleClass(sidebarMobileOpenedClass);
        }
    }

    window.matchMedia(`(min-width: ${desktopMinWidth}px)`)
        .addListener((e) => {
            if (e.matches) {
                pageElementToggleClass(sidebarMobileOpenedClass, false);
            }

        });

    document.querySelector('.page')
        .addEventListener('click', (e) => {
            if (e.target.classList.contains('sidebar-mobile-opened')) {
                console.log(e.target);
                pageElementToggleClass(sidebarMobileOpenedClass, false);
            }        
        });
</script>



<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
