
.page {
    --header-height: 64px;
    --sidebar-width: 240px;
    --header-zindex: 100;
    --sidebar-zindex: 101;
    
    position: relative;
    height: 100%;

    --sidebar-left-offset: calc(var(--sidebar-width) * -1);
    --main-left-offset: 0;
}

.page.sidebar-mobile-opened {
    --sidebar-left-offset: 0;
    --main-left-offset: 0;
}

.page.sidebar-mobile-opened::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: var(--header-zindex);
    background: rgba(33, 33, 33, 0.5);
}

@media (min-width: 960px) {
    .page {
        --sidebar-left-offset: 0;
        --main-left-offset: var(--sidebar-width);
    }

    .page.sidebar-desktop-closed {
        --sidebar-left-offset: calc(var(--sidebar-width) * -1);
        --main-left-offset: 0;
    }
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    z-index: var(--header-zindex);
    background: #6a458d;
    box-shadow: rgba(0, 0, 0, 0.24) 1px -1px 6px 2px;
    color: #fafafa;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 24px;
}

aside {
    position: fixed;
    top: var(--header-height);
    left: var(--sidebar-left-offset);
    right: auto;
    width: var(--sidebar-width);
    height: calc(100% - var(--header-height));
    z-index: var(--sidebar-zindex);
    transition: left 225ms cubic-bezier(0, 0, 0.2, 1);
    background: #d2e0af;
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    top: var(--header-height);
    min-height: calc(100% - var(--header-height));
    margin-left: var(--main-left-offset);
    transition: margin 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    display: flex;
    flex-direction: column;
    gap: 0;
}



#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
